.campus_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:220px;
    height:380px;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    margin-right:32px;
    margin-left:32px;
    margin-top:40px;
    margin-bottom:100px;
    padding: 20px;
    text-align:center;
    border-radius:16px;
}

.campus_font {
    font-family:Verdana;
    font-size:auto;
}

.campus_image {
    object-fit: cover;
    width:100%;
    height:100%;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.image_div {
    width:220px;
    height:260px;
}

.campus_delete {
    width:auto;
    height:auto;
    margin-right: 24px;
    background-color: rgba(134, 46, 46, 0.601);
    border-radius:4px;
    border: 1px rgb(129, 129, 129);
    font-family:Verdana;
    font-weight:bolder;
    font-size:16px;
    color:#333333;
}

.campus_link {
    text-decoration: none !important;
    color: #333333;
}

.campus_link:hover {
    text-decoration: none !important; 
    color: #333333; 
}

.campus_description_div {
    font-family: Verdana;
    font-size: 14px;
    color: #333333;
    margin: 10px 0;
}

.campus_address_div {
    font-family: Verdana;
    font-size: 14px;
    color: #333333;
    margin: 10px 0;
}