.container {
    display:inline-flex; 
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    margin-top:0px;
}

.header{
    text-align:center;
    font-family:Verdana;
    font-size:32px;
    color: #333333;
    text-shadow: 2px 2px 5px #5555558e;
    margin:0 auto;
}

.students-page-header{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    margin:16px;
}

/* CSS */
.add-btn {
  background-color: #efefef;
  border: 2px solid #333333;
  border-radius: 30px;
  box-shadow: #333333 4px 4px 0 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family:Verdana;
  width: auto;
  height: 40px;
  font-size: auto;
}

.add-btn:hover {
  background-color: #fff;
}

.add-btn:active {
  box-shadow: #333333 2px 2px 0 0;
  transform: translate(2px, 2px);
}

/* @media (min-width: 768px) {
  .add-btn {
    min-width: 80px;
    padding: 0 25px;
  }
} */

.position-right{
    position: absolute;
    top:80px;
    right:24px;
}

@media screen and (max-width: 600px) {
  .students-page-header{
    justify-content: center;
    flex-direction: column;
  }
  .add-btn{
    margin-top: 16px;
  }
}